
// pre

pre {
  font-family: monospace, monospace;
  background-color: #f6f8fa;
  padding: var(--main-padding);
  border-radius: var(--border-radius);

  
  width: 100%;
  overflow: auto;

  white-space: pre-wrap; 
  word-break: break-word;
}

// github markdown css table
// stolen from https://github.com/sindresorhus/github-markdown-css/blob/gh-pages/github-markdown.css

// table {
//   display: block;
//   width: 100%;
//   overflow: scroll;
  
// }

// td {
//     padding: 10px
//   }

table {
  margin-top: 0;
  margin-bottom: 16px;
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  width: 100%;
  overflow: auto;
  // overflow-y: scroll;

  font-size: 0.90em;
}

table th {
  font-weight: 600;
}

table td,
table th {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

table tr:nth-child(2n) {
  background-color: #f6f8fa;
}
