.sidebar-item {
  padding: var(--extra-padding);
  border-radius: var(--border-radius);

  background-color: var(--container-color);

  // less padding on mobile
  @include mobile-screen {
    padding: var(--main-padding);
  }

  h2 {
    margin: unset;
    font-size: 1.3em;
    // margin-bottom: var(--dense-padding);
    margin-bottom: 0;
  }

  // nicer list
  ul {
    @include a-list;
  }

  // space between two sidebar boxes
  margin-bottom: var(--main-padding);
}