@import './variables.scss';
@import './button.scss';

.content > ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;

  li{    
    @include button;

    // inline button group style
    margin-right: var(--dense-padding);
    margin-bottom: var(--dense-padding);

    &:hover {
      // highlight on hover
      border: 1px solid blue;
      color: blue;

      
      // desktop only
      @include not-mobile-screen {
        // increase border thickness
        border: 2px solid blue;

        // increase side padding
        padding: var(--dense-padding) calc(3* var(--dense-padding));
      }
    }

  }
}