.content > ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;

  li{
    a {color: unset; text-decoration: unset; }

    display: inline-block;
    // background-color: black;
    // color: white;
    
    border: 1px solid black;
    

    margin-right: var(--dense-padding);
    margin-bottom: var(--dense-padding);

    padding: var(--dense-padding) calc(2.3* var(--dense-padding));
    border-radius: var(--border-radius);

  }

  li + li {
    // margin-left: 15px;
  }
}