html, body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-size: 19px;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif; 
}
* { box-sizing: border-box; }
body { 
  background-color: #fffffe;
  color: var(--font-color);
}

h1 {
  font-size: 3em;
  font-weight: 900;
  margin-bottom: 0.3em;
  margin-top: var(--heading-margin);
}
// increase h2 font size 
h2 {
  font-size: 2em;
}
h2, h3, h4, h5, h6 {
  margin-top: var(--extra-padding);
}

p, blockquote, li, .alert {
  letter-spacing: 0.8px;
}

dl {
  dt {
    font-weight: bold;
  }

  dd {
    margin-bottom: var(--main-padding);
  }
}




.page-end {
  // background-color: red;
  font-size: 0.8em;

  .links {

    display: flex;
    justify-content: space-between;
  }

  a {
    color: unset;
  }
}