// asside
aside {
  .sidebar-item {
    padding: var(--extra-padding);
    border-radius: var(--border-radius);

    h2 {
      margin: unset;
      font-size: 1.3em;
    }
    ul {
      font-size: 0.9em;
      list-style: none;
      padding-left: unset;

      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

}