// asside
aside {
  .toc {
    background-color: #eee;
    padding: var(--extra-padding);
    border-radius: var(--border-radius);

    h2 {
      margin: unset;
      font-size: 1.3em;
    }
    ul {
      font-size: 0.9em;
      list-style: none;
      padding-left: unset;
    }
  }
}