@mixin mobile-screen {
  @media screen and (max-width: 750px) {
    @content
  }
}
@mixin tablet-screen {
  @media screen and (max-width: 1150px) {
    @content
  }
}
@mixin not-mobile-screen {
  @media screen and (min-width: 750px) {
    @content
  }
}

// variables
:root {
  --main-padding: 1em;
  --dense-padding: 0.3em;
  --extra-padding: 1.3em;

  --border-radius: 0.25em;

  // space above, and below back button
  --heading-margin: 1.2rem;

  --font-color: rgba(0, 0, 0, 0.822);
}