@mixin button {
  // reset if it's <a> tag
  a {color: unset; text-decoration: unset;}
  color: unset; text-decoration: unset;

  display: inline-block;

  // default colot black
  border: 1px solid black;


  // some text style for better readability
  letter-spacing: 1px;
  // font-weight: bold;

  // padding and border radius
  padding: var(--dense-padding) calc(3.5* var(--dense-padding));
  border-radius: var(--border-radius);

  // transition for hover and stuff
  transition: 0.2s;
  &:hover {
    border: 1px solid;
    font-weight: 700;

    // make button come up a little
      transform: translateY(-1px);
  }

  // some nice colors
  &.red {
    border: 1px solid rgb(233, 66, 52);
    color: rgb(233, 66, 52);
    background-color: rgba(233, 66, 52, 0.2);
  }
  &.blue {
    border: 1px solid rgb(66, 133, 243);
    color: rgb(66, 133, 243);
    background-color: rgba(66, 133, 243, 0.2);
  }
  &.green {
    border: 1px solid rgb(85, 168, 84);
    color: rgb(85, 168, 84);
    background-color: rgba(85, 168, 84, 0.2);
  }
  &.black {
    border: 1px solid rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    background-color: rgba(34, 34, 34, 0.2);
  }
}